//THEMES
.green {
  background: green;
}

.pink {
  background: pink;
}

.yellow {
  background: yellow;
}

.orange {
  background: orange;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  
  .header {
    border: #000 solid;
    padding: 10px;
    text-align: center;
    h1 {
      font-weight: 600;
      margin: 0;
    }
  }
  
  .main {
    display: flex;
    margin: 10%;
    justify-content: space-around;
    button {
      border-radius: 30px;
      outline: none;
      border: none;
      padding: 10px;
      margin: 30px;
      height: max-content;
      border: #000 solid;
    }
  }

  .footer {
    height: 100px;
    border: #000 solid;
  }

  @media only screen and (max-width: 600px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
  }
}
